<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Web.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="AmigosConnectionString" connectionString="Data Source=tcp:hads.database.windows.net,1433;Initial Catalog=Amigos;User ID=vadillo@ehu.es@hads;Password=curso19-20"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>

    <authentication mode="Forms">
      <forms loginUrl="http://hads1920-g17.azurewebsites.net/Inicio.aspx" />
    </authentication>
    <authorization >
      <allow users="*"/>
    </authorization>
    
    
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1"/> 
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>

  <location path="Alumnos" >
    <system.web>
      <authorization>
        <allow users="alumno"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Profesores" >
    <system.web>
      <authorization>
        <allow users="profesor, vadillo"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Profesores/Importadora.aspx" >
    <system.web>
      <authorization>
        <allow users="vadillo"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  <location path="Profesores/Coordinador.aspx" >
    <system.web>
      <authorization>
        <allow users="vadillo"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>    

  <location path="Profesores/Exportadora.aspx" >
    <system.web>
      <authorization>
        <allow users="vadillo"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>

  <location path="Admin" >
    <system.web>
      <authorization>
        <allow users="admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
  
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  
  
<!-- <section name="SqlColumnEncryptionEnclaveProviders" type="System.Data.SqlClient.SqlColumnEncryptionEnclaveProviderConfigurationSection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" /> -->
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="DedicacionesSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:52733/Dedicaciones.asmx"
        binding="basicHttpBinding" bindingConfiguration="DedicacionesSoap"
        contract="ServiceReference1.DedicacionesSoap" name="DedicacionesSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <Web.My.MySettings>
      <setting name="Web_Matricula_Matriculas" serializeAs="String">
        <value>http://ehusw.es/jav/ServiciosWeb/comprobarmatricula.php</value>
      </setting>
      <setting name="Web_Dedication_Service" serializeAs="String">
        <value>http://hads1920-g17.azurewebsites.net/Service.asmx</value>
      </setting>
    </Web.My.MySettings>
  </applicationSettings>
</configuration>
